@keyframes chev {

  0%,
  100% {
    opacity: 0.25;
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(3px);
  }
}

@keyframes cue {
  0% {
    transform: scaleY(0.2);
    transform-origin: top;
    opacity: 0.3;
  }

  50% {
    transform: scaleY(1);
    opacity: 1;
  }

  100% {
    transform: scaleY(0.2);
    transform-origin: bottom;
    opacity: 0.3;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animateFadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}

.animateChev1 {
  animation: chev 1.6s infinite;
}

.animateChev2 {
  animation: chev 1.6s 0.18s infinite;
}

.animateChev3 {
  animation: chev 1.6s 0.36s infinite;
}

.animateCue {
  animation: cue 1.8s cubic-bezier(.22, .61, .36, 1) infinite;
}
